<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fpn Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="url({{ url_for('static', filename='CSS/style.css') }})">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style type="text/css">
.fa-anchor,.fa-coffee {
    font-size:200px;
    color:#a0446c;
}
.small-middle-container{
    margin: auto;
    width: 40%;
}
nav {
  background-color: #a0446c;
  color:#fff;
 }
 #cllp {
  color: white;
  font-family: verdana;}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
#cllp:hover {
  background-color: white;
  color: #a0446c;
}


</style>
</head>
    <body style="background-image: url({{ url_for('static', filename='image/backg.png') }})">
        {% include 'includes/_navbar.html' %}
            {% block body %}  {% endblock %}
        
        <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
        <script type="text/javascript">
            CKEDITOR.replace('editor')
        </script>
    </body>
</html>


